<section class="about-me">
  <div class="container about-container">
    <h2 class="about-title">About <span class="about-span">me</span></h2>
    <picture class="about-image">
      <source
        media="(min-width:1280px)"
        srcset="/img/hero/about-d-1x.png 1x, /img/hero/about-d-2x.png 2x"
      />
      <source
        media="(min-width:768px)"
        srcset="
          /img/hero/about-tablet-1x.png 1x,
          /img/hero/about-tablet-2x.png 2x
        "
      />

      <img
        class="about-image"
        srcset="/img/hero/about-1x.png 1x, /img/hero/about-2x.png 2x"
        src="/img/hero/about-1x.png"
        alt="man with laptop"
        width="335"
      />
    </picture>
    <h3 class="bio-title">BIO</h3>
    <p class="about-bio">
      I'm Lloyd Jefferson, a talented programmer specializing in software
      development. My expertise spans various programming languages and
      technologies, and I am dedicated to continually enhancing my skills. I
      thrive on seeking unconventional and creative solutions to problems,
      leveraging a high level of analytical skills to effectively tackle even
      the most challenging tasks.
    </p>
    <p class="about-bio-two">
      Adaptable to both independent and team-oriented work, I collaborate
      seamlessly with colleagues, exchanging ideas and finding optimal
      solutions. My professional maturity enables me to navigate challenges and
      stressful situations with a calm demeanor, maintaining a consistently high
      quality of work. Committed to self-improvement, I actively engage in
      studying new technologies and practices to stay current with the latest
      innovations in the field.
    </p>
    <div class="education-section">
      <h3 class="education-title">EDUCATION</h3>
      <ul class="education-list">
        <li>
          2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
        </li>
        <li>
          2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
          New York
        </li>
        <li>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
      </ul>
    </div>
    <div class="role-section">
      <h3 class="role-title">ROLE</h3>
      <ul class="role-list">
        <li>Frontend development</li>
        <li>HeadlessCMS, Wordpress</li>
        <li>Blender (enjoy)</li>
      </ul>
    </div>

    <div class="marquee-another">
      <div class="marquee__inner">
        <p class="marquee__line">
          <span class="green-dot">&#183;</span> HTML/CSS
          <span class="green-dot">&#183;</span> JavaScript
          <span class="green-dot">&#183;</span> React
          <span class="green-dot">&#183;</span> Node.js
          <span class="green-dot">&#183;</span> React Native
          <span class="green-dot">&#183;</span> Type Script
        </p>
        <p class="marquee__line">
          <span class="green-dot">&#183;</span> HTML/CSS
          <span class="green-dot">&#183;</span> JavaScript
          <span class="green-dot">&#183;</span> React
          <span class="green-dot">&#183;</span> Node.js
          <span class="green-dot">&#183;</span> React Native
          <span class="green-dot">&#183;</span> Type Script
        </p>
      </div>
    </div>
    <div class="marquee">
      <div class="marquee__inner">
        <p class="marquee__line-green">
          <span class="dot">&#183;</span> JavaScript
          <span class="dot">&#183;</span> React
          <span class="dot">&#183;</span> Node.js
          <span class="dot">&#183;</span> React Native
          <span class="dot">&#183;</span> Type Script
          <span class="dot">&#183;</span> HTML/CSS
        </p>
        <p class="marquee__line-green">
          <span class="dot">&#183;</span> JavaScript
          <span class="dot">&#183;</span> React
          <span class="dot">&#183;</span> Node.js
          <span class="dot">&#183;</span> React Native
          <span class="dot">&#183;</span> Type Script
          <span class="dot">&#183;</span> HTML/CSS
        </p>
      </div>
    </div>
  </div>
</section>
