<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello, I am <span class="hero-span-title">Fullstack developer</span>
    </h1>
    <div class="button-container">
      <a href="./work-together.html" class="order">
        <svg class="arrow icon-green-arrow" width="28" height="28">
          <use href="./img/symbol-defs.svg#icon-green-arrow"></use>
        </svg>
        Order the project
      </a>
      <button class="button-hero"></button>
    </div>
    <p class="hero-text">
      I work with people all over the world to create impressive and functional
      websites that reflect each client’s unique personality.
    </p>
    <ul class="social-media-list">
      <li class="social-media-item">
        <a class="social-media-link" href="www.instagram.com">Instagram</a>
      </li>
      <li class="social-media-item">
        <a class="social-media-link" href="www.facebook.com">Facebook</a>
      </li>
      <li class="social-media-item">
        <a class="social-media-link" href="www.linkedin.com">Linkedin</a>
      </li>
      <li class="social-media-item">
        <a class="social-media-link" href="www.github.com">GitHub</a>
      </li>
    </ul>
  </div>
</section>
