<section class="reviews-section">
  <div class="reviews-container">
    <h2 class="reviews-title">Reviews</h2>

    <!-- Swiper -->
    <div id="reviews-slider" class="swiper-container">
      <ul class="swiper-wrapper reviews-wrapper"></ul>
      <div class="reviews-slider-navigation">
        <div class="swiper-button-prev custom-button-prev">
          <svg width="24" height="24" class="custom-button-icon">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
        <div class="swiper-button-next custom-button-next">
          <svg width="24" height="24" class="custom-button-icon">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
